@media (max-width: 991px) {
    .catalog {
        &__content {
            justify-content: center;
        }
       
    }
};

@media (max-width: 767px) {
    .catalog {
        &__tabs {
            margin-top: 40px;
            
        }
        &__tab {
            width: 140px;
            height: 30px;
            font-size: 14px;
            line-height: 27px;
        }
    }
};

@media (max-width: 576px) {
    .catalog {
        &__tabs {
            flex-wrap: wrap;
            margin-top: 25px;
            
        }
        &__tab {
            margin-bottom: 20px;
        }
        &__content {
            margin-top: 30px;
        }
    }
}