@media (max-width: 991px) {
    .consultation {
        display:flex;
        justify-content: space-around;
        &__descr {
          text-align: center;
          margin-bottom: 36px;
        }
    }
}

@media (max-width: 767px) {
    .consultation {
        min-height: 550px;
        padding: 30px 0 50px 0;
        &__descr {
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
        }
        .title {
            font-size: 20px;
            line-height: 40px;
        }
    }
}
@media (max-width: 576px) {
    .consultation {
        display:flex;
        justify-content: space-around;
       
    }
   
} 