@media (max-width: 991px){
.header{
    justify-content: space-around;
}
};
@media (max-width: 767px) {
.header {
    &__logo {
        width: 200px;
        img {
            width: 100%;
        }
    }
}
};
@media (max-width: 575px) {
    .header {
        flex-wrap: wrap;
        span {
            font-size: 14px;
        }
        &__contacts {
            margin-top: 15px;

        }
        
        &__logo {
            width: 140px;
            img {
                width: 100%;
            }
        }
    }
}