@media(max-width: 576px) {
    .modal {
        padding: 10px 20px 20px 20px;
        width: 300px;
        
        &__close {
            position: absolute;
            top: 420px;
            right: 48%;
            font-size: 41px;
            line-height: 16px;
            color:$main-color;
            cursor: pointer;
        }
    
    }
    .modal_mini {
        padding: 30px 20px 20px 20px;
    }   
}