@media (max-width: 767px) {
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    }
@media (max-width: 575px) {
    .promo {
        padding: 15px 0 60px 0;
        &__wrapper {
            margin-top: 45px;
        }
        &__header {
            font-size: 26px;
        }
        &__subheader {
            font-size: 15px;
            margin-top: 9px;
        }
        &__icons {
            width: 315px;
        }
        &__icon {
            font-size: 12px;
        }
    }
}    